  * {
      margin: 0;
      padding: 0;
      background-color: #D5E1EF;
  }

  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 320px;
      padding: 1rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
  }

  .container img {
      border-radius: 10px;
  }

  .content {
      margin: 8px;
      background-color: #fff;
  }

  .content h3 {
      text-align: center;
      font-size: 24px;
      margin-top: 2rem;
      background-color: #fff;
      color: #253B59;
  }

  .content p {
      text-align: center;
      line-height: 20px;
      font-size: 18px;
      margin-top: 1rem;
      margin-bottom: 2rem;
      color: #A0AAB8;
      background-color: #fff;
  }